:root {
    --yellow: #f28705;
    --grey: #394a59;
    --orange: #f25c05;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

ul {
    list-style: none;
}
